[Unit]
Description=My Java Application
After=network.target

[Service]
User=huylg
WorkingDirectory=/opt/myapp
ExecStart=/usr/bin/java -jar /home/huylg/java-project/hello-world-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
